*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/my_test/*
!Makefile
!README.md
!.gitignore
!init.sh
!patch/*/*
/fceux-am
/rt-thread-am/
/ysyxSoC/
/riscv-arch-test-am/
/riscv-tests-am/
/nvboard
/am-kernels
